.card {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.label {
  font-size: 16px;
  font-weight: bold;
  color: #555;
}

.valueContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.value {
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 5px;
}

.positive {
  color: rgb(56, 178, 12);
}

.negative {
  color: rgb(161, 17, 17);
}

.icon {
  font-size: 12px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .card {
    gap: 10px;
  }

  .field {
    padding: 8px;
  }

  .label {
    font-size: 14px;
  }

  .value {
    font-size: 14px;
  }

  .icon {
    font-size: 10px;
  }
}
